<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="semiStudentMapper1">
   <resultMap type="SemiStudentVo" id="SemiStudentRM1">
   <id property="mid2" column="mid2"/>
   <result property="studentName" column="student_Name"/>
   <result property="examScore" column="exam_Score"/>
   <result property="birthday" column="birthday"/>
   <result property="enterDate" column="enter_Date"/>
   <result property="important" column="important"/>
   <result property="mid" column="mid"/>
   <result property="tele" column="tele"/>
   </resultMap>
		<select id="selectListStudent" resultType="SemiStudentVo" >
		SELECT * FROM ACA_STUDENT
		</select>
		<select id="selectsearchStudent" resultType="SemiStudentVo" parameterType="string">
		SELECT * FROM ACA_STUDENT where student_name like #{searchword} 
		</select>
		<select id="selectOneStudent" resultType="SemiStudentVo" parameterType="string">
		select (select student_name from aca_student a where mid2=#{mid2}) student_name, monthNo,Tc_id,St_id,Expect,Study,St_Comment,Acheive,Week_Score from st_week s where st_id = #{mid2}
		</select>
		<insert id="insertStudent" parameterType="SemiStudentVo">
		insert into aca_student (mid2,student_Name,exam_Score,birthday,enter_Date, important
		,mid,tele) values(#{vo.mid2},#{vo.studentName},#{vo.examScore}
		,to_date(#{vo.birthday},'yy-mm-dd'),to_date(#{vo.enterDate},'yy-mm-dd')
		,#{vo.important},#{vo.mid},#{vo.tele})
		</insert>
   		<delete id="deleteStudent" parameterType="string">
   		delete from aca_student where mid2 = #{mid2} 
   		</delete>
   </mapper>

   